$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// шрифти
@font-face {
font-family: bahnschift;
src: url(/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF);
}
// нульові настройки стилів
@import "_defaultcfg"; 
//-------------Головна структура----------
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   //overflow: hidden;
}
.container-all {
   max-width: 1920px;
   margin: 0px auto;
   padding: 0px 40px;
   /* сверху | справа | снизу | слева */
}

//------------Шапка-------------
.header {
   background-color: white;
   min-height: 140px;
   display: flex;
   position: sticky;
   top: 0px;
   z-index: 2;
   &__container{
      display: flex;
      align-items: center;
      flex-grow:1;
      justify-content: space-between;
   }
   &__logo{

   }
}
.text-title {
   @include adaptiv-font(44, 24);
   line-height: 1.15;
   color: var(--black);
   text-decoration: none;
}
.number {
   max-width: 40px;
   max-height: 40px;
   margin-right: 15px;
   background-color: black;
   color: white;
   font-size: 200%;
   text-align: center;
   object-fit: fill;
   padding-left: 8px;
   padding-right: 8px;
}
.navigation {
   display: flex;
   flex: 1 1 auto;
   margin-left: 5%;
   justify-content: space-between;
   //flex-wrap:wrap;
   &__link:not(:last-child){
      margin-right: 15px;
   }
}

.main {
   flex: 1 1 auto;
}

//---------Промо----------------
.promo {
   display: flex;
   position: relative;
   &__image {
      max-width: 100%;
      object-fit: fill;
      }
   &__info {
      position: absolute;
      bottom: 50px;
      min-height: 200px;
      max-width: 1700px;
      max-height: 350px;
      display: flex;
      flex-basis: 100%;
      padding: 60px;

      
   }
   &__text1{
      display: flex;
      flex: 0 0 3fr;
   }
   &__text2{
      display: flex;
      flex: 0 0 1fr;
      
   }
   &__rectangle-midle {
      margin-right: 15px;
      margin-top: 5px;
   }
   &__rectangle-big {
      margin-right: 15px;
      margin-top: 5px;
   }
}

// -------------Новини--------------
.news {
   margin-top: 60px;
   display: flex;
   &__container {
      display:flex;
      flex-wrap:wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
   }
   &__card-big {
      object-fit: fill;
      position: relative;
      flex: 0 1 80%;
      padding-left: 5px;
      //max-height: 824px;
   }
   &__card-info {
      position: absolute;
      bottom: 6px;
      //left: 10px;
     // height: 36px;
      display: flex;
      align-items: center;
   }

   &__cards-small {
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      flex: 0 1 20%;
      max-width: 364px;
     // max-height: 824px;
   }
      &__small-card {
      position: relative;
      max-height: 350px;
      object-fit: fill;
      min-height: fit-content;
      padding-bottom: 10px;
   }
   &__number {
      position: absolute;
      bottom: 10px;
   }
   &__all-news {
      flex: 0 1 100%;
   }
}

//--------------портфоліо---------------
.portfolio {
   margin-top: 60px;
   display: flex;
   &__cards {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;;
   }

   &__card {
      object-fit: fill;
      //max-width: 555px;
      max-height: 388px;
      margin-bottom: 20px;
      flex-basis: 32%;
   }
   &__all-project {

   }
}

//-----------сервіси-------------------
.services {
   margin-top: 60px;
   &__content {
      display: flex;
      justify-content: space-between;
   }
   &__cards-column {
      flex-basis: 24%;
      //max-width: 422px;
      max-height: 930px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__cards-column:not(:last-child){
      margin-right: 10px;
   }
}
.card {
   box-shadow: 4.2px 4.2px 2.7px 0.3px rgba(0, 0, 0, 0.2);
   max-width: 422px;
   //margin-bottom: 20px;
   &__header {
      margin-top: 5px;
      display: flex;
      align-items: stretch;
   }
   &__title {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.33;
   }
   &__info {
      margin-top: 15px;
      font-size: 28px;
      line-height: 1;
      letter-spacing: 0.3px;
   }
}

// ---------Пакети ---------------
.packages {
   margin-top: 60px;
   &__container {
      display: flex;
      justify-content: space-between;
   }
   &__card {
      display: flex;
      flex-direction: column;
      flex-basis: 32.5%;
      justify-content: space-between;
   }
   &__card-header {
      display: inline-flex;
      align-items: flex-end;
      justify-content: space-between;
   }
   &__card-title {
      flex: 1 1 auto;
      font-size: 40px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: normal;
      line-height: 1.09;
      letter-spacing: 0.44px;
      text-align: center;
      color: var(--black);  
      border-bottom: solid;
      
   }
   &__card-info {
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: contain; 
   }
   &__price-card{
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: contain;
      font-size: 100px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: normal;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
   }
   &__li-text{
      border-bottom: solid;
   } 
}
.rectangle {
   max-width: 30px;
   min-width: 15px;
}

.card1-background {
   background-image: url('../img/pakages/text1.png'), url('../img/pakages/border1.png'), url('../img/pakages/card1.png'); 
}
.card2-background {
   background-image: url('../img/pakages/card2.png');
}
.card3-background {
   background-image: url('../img/pakages/card3.png');
}
.price1 {
   background-image: url('../img/pakages/price1.png');
}
.price2 {
   background-image: url('../img/pakages/price2.png');
}
.price3 {
   background-image: url('../img/pakages/price3.png');
}/*
background-repeat: no-repeat;
background-size: cover;
object-fit: contain;
font-size: 28px;
font-weight: normal;
font-stretch: condensed;
font-style: normal;
line-height: 1.13;
letter-spacing: 0.3px;
text-align: center;
color: var(--black);
padding: 10px 10px 10px 10px;*/
//------------Підвал---------------
.footer{
   margin-top: 60px;
   display: flex;
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex-grow:1;
   }
   &__feedback {
      width: 273px;
      height: 274px;
      background-color: white;
      object-fit: contain;
      box-shadow: 4.2px 4.2px 2.7px 0.3px rgba(0, 0, 0, 0.2);
      border: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0px 20px 0;
     // flex-grow:1;
   }
   &__feedback:not(:last-child){
      margin-right: 15px;
   }
}

@media (max-width:1200px){
   .container-all {
      max-width: 970px;
      padding: 0px 35px;
   }
   .navigation {
      flex-wrap:wrap;
   }
}
@media (max-width:992px) {
   .container-all {
      max-width: 750px;
      padding: 0px 25px;
   }
   .navigation {
      flex-wrap:wrap;
      justify-content: flex-start;
   }   
}
@media (max-width:762px) {
   .container-all {
      max-width: none;
      padding: 0px 15px;
   }
}

